<header class="navbar navbar-fixed-top">
  <div class="navbar-inner" id="navigation_panel">
    <div class="container">
      <%= link_to "Later - Task Manager", root_path, class: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if admin_signed_in? %>
              <li><%= link_to current_admin.email, '#' %> </li>
              <li><%= link_to "Management", '/admins/management' %></li>
              <li><%= link_to "Sign out", destroy_admin_session_path, :method => :delete %></li>
          <% else %>
              <li><%= link_to "Sign in",   new_admin_session_path %></li>
          <% end %>
          <li><%= link_to "Help",    help_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>